body {
    margin: 0;
    background: #1E56A0;
}

.heart-cta {
    position: fixed;
    margin: 0;
    left: 40vw;
    top: 20vh;
    width: 35vmin;
    height: 5vmin;
    z-index: 1;
}

.heart {
    background: #EAAFAF;
    width: 5vmin;
    height: 5vmin;
    transform: rotate(-45deg);
    position: absolute;
}

.heart::before,
.heart::after {
    content: "";
    width: 5vmin;
    height: 5vmin;
    background: #EAAFAF;
    border-radius: 50%;
    position: absolute;
    /*left: 3vmin;*/
    left: 3.5vmin;
}

.heart::before {
    left: 0;
    /*top: -3vmin;*/
    top: -3.5vmin;
}

.heart1 {
    animation: loading 2s linear infinite alternate;
}

.heart2 {
    left: 43%;
    animation: loading 2s 1s linear infinite alternate;
}

.heart3 {
    right: 0;
    animation: loading 2s 2s linear infinite alternate;
}

.msg {
    position: fixed;
    margin: 0;
    left: 40vw;
    top: 0;
    width: 35vmin;
    height: 5vmin;
    z-index: 1;
    text-align: center;
    color: #163172;
    font-size: 3rem;
    opacity: 0.2;
    animation:
            msg-appearing 1s ease-in 1 forwards,
            rotating 0.5s 1s linear 5 alternate;
}

.hide {
    display: none;
}

.jelly {
    margin: 0;
    width: 100vw;
    height: 60vh;
    background: #D6E4F0;
    position: relative;
    overflow: hidden;
}

.head {
    width: 40vmin;
    height: 40vmin;
    background: #163172;
    position: absolute;
    border-radius: 40% 43%;
    left: -7vmin;
    top: calc(60vh - 20vmin);
    animation:
            swim 5s linear infinite alternate,
            roll 3s linear infinite;
}

.eyes {
    width: 20vmin;
    height: 7vmin;
    position: absolute;
    bottom: 5vmin;
    left: 12vmin;
    animation: swim 5s linear infinite alternate;
}

.eyes::before,
.eyes::after {
    content: ' ';
    width: 7vmin;
    height: 7vmin;
    border: 1.5vmin solid white;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    animation: blink 5s linear infinite alternate;
}

.eyes::after {
    right: 0;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes msg-appearing {
    to {
        top: 15vh;
        opacity: 1;
    }
}

@keyframes rotating {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes roll {
    to {
        transform: rotate(360deg);
    }
}

@keyframes swim {
    to {
        /*transform: translateX(calc(100vw - 40vmin));*/
        left: calc(100vw - 40vmin + 7vmin);
    }
}

@keyframes blink {
    0%, 4%, 10%, 34%, 40%, 100% {
        transform: scaleY(1);
    }
    7%, 37% {
        transform: scaleY(0);
    }
}